@charset "UTF-8";

/*
* @Author: kevin
* @Date:   2016-04-05 13:37:33
* @Last Modified by:   kevin
* @Last Modified time: 2016-08-02 15:22:54
*/

/* 样式重置 */

/*
* @Author: kevin
* @Date:   2016-04-05 13:37:33
* @Last Modified by:   kevin
* @Last Modified time: 2016-08-24 11:25:43
* @参考地址: http://www.w3cplus.com/mobile/mobile-terminal-refactoring-reset-style.html
*/

html {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc;
}

a:active {
  outline: 0;
}

a:active {
  color: #006699;
}

abbr[title] {
  border-bottom: 0.013333rem dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 0.013333rem solid #c0c0c0;
  margin: 0 0.026667rem;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}

ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none outside none;
}

h1,
h2,
h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}

/* 工具类 */

/*
* @Author: kevin
* @Date:   2016-04-05 13:37:33
* @Last Modified by:   kevin
* @Last Modified time: 2016-08-02 15:20:56
*/

/**
 * 隐藏元素
 */

.hidden,
[hidden] {
  display: none !important;
}

/**
 * 弹性图片
 */

.lnv-img {
  max-width: 100%;
  height: auto;
  display: block;
}

/**
 * 清除浮动
 */

.clear {
  clear: both;
}

/**
 * 解決高度塌陷問題
 */

.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}

/**
 * 单行文本超过宽度显示为三个点
 */

.dot {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/**
 * 三角符号
 */

.lnv-triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.026667rem;
  vertical-align: middle;
  border-top: 0.053333rem dashed;
  border-top: 0.053333rem solid \9;
  border-right: 0.053333rem solid transparent;
  border-left: 0.053333rem solid transparent;
}

.noselect {
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* loading */

.nov-page-loading {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #D35400;
  color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  font-size: 0.426667rem;
}

.nov-page-loading .spinner {
  width: 1.066667rem;
  height: 1.066667rem;
  background-color: #fff;
  margin: 5.333333rem auto 2.666667rem;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.nov-content-loading {
  position: relative;
}

.nov-content-loading:after {
  opacity: 0.2;
  color: white;
  padding-top: 50%;
  background-color: #333;
  content: '加载中';
  text-align: center;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(1.6rem);
  }

  50% {
    -webkit-transform: perspective(1.6rem) rotateY(180deg);
  }

  100% {
    -webkit-transform: perspective(1.6rem) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(1.6rem) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(1.6rem) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(1.6rem) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(1.6rem) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(1.6rem) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(1.6rem) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* public style */

/*
* @Author: kevin
* @Date:   2016-04-05 13:37:33
* @Last Modified by:   kevin
* @Last Modified time: 2016-08-24 11:25:52
*/

body {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #333333;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.noscroll {
  height: 100%;
  overflow: hidden;
}

.loading {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-left: auto;
  margin-right: auto;
}

input {
  -webkit-appearance: none;
  appearance: none;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}

html,
body {
  height: 100%;
  background-image: url(../img/bg.png);
  background-size: 100% 100%;
}

.mask {
  z-index: 9;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: .75;
}

.fixedcenter {
  z-index: 10;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.vertaligM {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertaligMParent {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: centent;
  -webkit-justify-content: centent;
  justify-content: centent;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}