{{#each data}}
    <div class="weui-media-box weui-media-box_text">
        <h4 class="weui-media-box__title">{{title}}</h4>
        <p class="weui-media-box__desc">{{body}}</p>
    </div>
{{/each}}
